.swiper-button-prev, .swiper-rtl .swiper-button-next{
    --swiper-navigation-color: #000;
    background-color: #E7E7E7;
    padding: 30px;
    border-radius: 10px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    --swiper-navigation-color: #fff;
    background-color: #EC6861;
    padding: 30px;
    border-radius: 10px;
}

@media only screen and (max-width: 1990px) and (min-width: 1536px) {
    .\32xl\:w-\[62\.5rem\] {
        width: 46.5rem;
    }
}